/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2013, 7:09:35 AM
    Author     : bugraozden
*/

.icon-select{
    width:0px;
 }

 .icon-select .selected-box {

     position: relative;
     margin: 0px;
     padding: 0px;
     /*width: 40px; *//* sil */
     /*height: 40px; *//* sil */
     /*border: 1px solid #999999;*/

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     /*border-radius: 3px;*/

 }

 .icon-select .selected-box:hover {

     position: relative;
     margin: 0px;
     padding: 0px;
     /*width: 40px; *//* sil */
     /*height: 40px; *//* sil */
     /*border: 1px solid #000000;*/
     background-color: #F1F1F1;

     /*-webkit-border-radius: 3px;*/
     /*-moz-border-radius: 3px;*/
     /*border-radius: 3px;*/

 }

 .icon-select .selected-icon {

     position: absolute;
     margin: 0px;
     padding: 0px;
     top:5px;
     left:5px;
     /*width: 40px; *//* sil */
     /*height: 40px; *//* sil */

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

 }

 .icon-select .component-icon{
     position: absolute;
     bottom:5px;
     right:4px;
 }

 .icon-select .box {

     position: absolute;
     top:0px;
     /*left:71px;*/
     right:0px;
     /*margin: 0px;*/
     padding: 0px;
     /*width: 170px; *//* sil */
     width: 35px; /* sil */
     /*height: 170px; *//* sil */
     /*border: 1px solid #EEEEEE;*/
     background-color: #F1F1F1;

     /*-webkit-border-radius: 3px;*/
     /*-moz-border-radius: 3px;*/
     border-radius: 3px;
     
     
     overflow:auto;
     /*
     -webkit-overflow-scrolling: touch;
     */
     z-index: 100000;

 }

 .icon-select .icon {
     position: relative;
     margin: 1px 0px 0px 5px;
     padding: 0px;
     /*width: 48px; *//* sil */
     width: 30px; /* sil */
     /*height: 48px; *//* sil */
     height: 22px; /* sil */
     /*border: 0px solid #CCCCCC;*/
     background-color: #F1F1F1;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

     overflow:hidden;
     float: left;
 }

 .icon-select .icon:hover {
     /*border: 1px solid #000000;*/
 }

 .icon-select .icon.selected {
     position: relative;
     margin: 1px 0px 0px 5px;
     padding: 0px;
     /*width: 48px; *//* sil */
     width: 30px; /* sil */
     /*height: 48px; *//* sil */
     height: 22px; /* sil */
     /*border: 0px solid #CCCCCC;*/
     background-color: #F1F1F1;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

     overflow:hidden;
     float: left;
 }

.icon-select .icon.selected .img{
    position: relative;
    margin: 1px 1px 1px 1px;
    padding: 0px;
    width: 24px; /* sil */
    height: 18px; /* sil */
}